<%- include('temps/header') %>


<div class="about-grid">
    <div class="the-img">
        <img src="/images/me.png" alt="Isaac Johnson"/>
    </div>
    <div class="the-text">
        <h1>About Me</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Odit possimus reiciendis, officiis illo consequatur 
            maiores eaque quia fugiat necessitatibus animi 
            laudantium quibusdam! Est corporis dolor dolorum 
            sed odio pariatur ut.
        </h4>
    </div>
</div>
    
<%- include('temps/footer') %>