<%- include('temps/header') %>
    <div  class="title">
        <h2>Engineering for a Purpose</h2>
        <h5>What is that Purpose?</h5>
    </div>
    <div class="body">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            <img src="/images/img-1.jpg" alt="Computer" class="img-1" width="250">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            <img src="/images/img-2.jpg" alt="" class="img-2" width="250">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates in libero obcaecati aut aliquid quidem perferendis, similique velit recusandae accusamus dolores soluta cum illo possimus autem dolorem. Ad, repellendus.
        </p>
    </div>
<%- include('temps/footer') %>