<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/gear.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <title>Purpose Engineering</title>
</head>
<body>
    <h1><%= text %>!</h1>
</body>
</html>