<%- include('temps/header') %>
    <div class="background">
        <div class="home-header">What will you design?</div>
        <img src="/images/BG-s.png" alt="BG" class="BG s">
        <img src="/images/BG.png" alt="BG" class="BG b">
    </div>
<%- include('temps/footer') %>