<%- include('temps/header') %>
    <div class="background">
        <div class="home-header">What will you design?</div>
        <img src="/images/BG.png" alt="BG" class="BG">
    </div>

<%- include('temps/footer') %>